<article class="article-card" aria-labelledby="Article-{{ article.id }}">
    {% comment %}
    <small>
        <a href="{{ blog.url }}/tagged/{{ article.tags[0] | handleize }}" class="full-unstyled-link">
            {{ article.tags[0] }}
        </a>
    </small>
    {% endcomment %}
    <a href="{{ article.url }}" class="full-unstyled-link">
        <div class="article-card__image-wrapper">
            {% render 'object-image', path: article.image.src, alt: article.title %}
        </div>
    </a>
    <h2 class="h3 uppercase">
        <a href="{{ article.url }}" class="full-unstyled-link">
            {{ article.title }}
        </a>
    </h2>
    <a class="button" href="{{ article.url }}">
        Read more
    </a>
</article>
