<!doctype html>
<html class="no-js" lang="{{ request.locale.iso_code }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="theme-color" content="">
    <link rel="canonical" href="{{ canonical_url }}">
    <link
      rel="preconnect"
      href="https://cdn.shopify.com"
      crossorigin>
    <link
      rel="preconnect"
      href="https://use.typekit.net"
      crossorigin>

    {%- if settings.favicon != blank -%}
      <link
        rel="icon"
        type="image/png"
        href="{{ settings.favicon | img_url: '32x32' }}">
    {%- endif -%}

    <title>
      {{ page_title }}
      {%- if current_tags %}
        &ndash; tagged "{{ current_tags | join: ', ' }}"{% endif -%}
      {%- if current_page != 1 %}
        &ndash; Page {{ current_page }}{% endif -%}
      {%- unless page_title contains shop.name %}
        &ndash; {{ shop.name }}{% endunless -%}
    </title>

    <!-- Preconnect Domains -->
    <link rel="preconnect" href="https://use.typekit.net" />
    <link rel="preconnect" href="https://fonts.shopifycdn.com" />
    <link rel="preconnect" href="https://cdn.shopify.com" />
    <link rel="preconnect" href="https://v.shopify.com" />
    <link rel="preconnect" href="https://cdn.shopifycloud.com" />
    <link rel="preconnect" href="https://monorail-edge.shopifysvc.com">

    <!-- fallback for browsers that don't support preconnect -->
    <link rel="dns-prefetch" href="https://use.typekit.net" />
    <link rel="dns-prefetch" href="https://cdn.shopify.com" />
    <link rel="dns-prefetch" href="https://v.shopify.com" />
    <link rel="dns-prefetch" href="https://cdn.shopifycloud.com" />
    <link rel="dns-prefetch" href="https://monorail-edge.shopifysvc.com">

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}">
    {% endif %}

    {% render 'meta-tags' %}

    <script src="{{ 'modernizr-3.11.2.min.js' | asset_url }}" defer="defer"></script>

    {% if request.page_type == "index" or request.page_type == "product" %}
      <script src="{{ 'swiper.js' | asset_url }}" defer="defer"></script>
    {% endif %}

    <script src="{{ 'global.js' | asset_url }}" defer="defer"></script>

    {{ content_for_header }}

    <link rel="stylesheet" href="https://use.typekit.net/ohy5hty.css">

    {% style %}
      @font-face {
        font-family: 'gt_super_display';
        src: url("{{ 'FONT-GT-Super-Display-Light.woff2' | asset_url | prepend: 'https:' }}") format('woff2'), url("{{ 'FONT-GT-Super-Display-Light.woff' | asset_url | prepend: 'https:' }}") format('woff');
        font-weight: normal;
        font-style: normal;
        font-display: auto;
      }

      @font-face {
        font-family: 'gt_super_display';
        src: url("{{ 'FONT-GT-Super-Display-Light-Italic.woff2' | asset_url | prepend: 'https:' }}") format('woff2'), url("{{ 'FONT-GT-Super-Display-Light-Italic.woff' | asset_url | prepend: 'https:' }}") format('woff');
        font-weight: normal;
        font-style: italic;
        font-display: auto;
      }

      :root {
        --font-body-family: "europa", sans-serif;
        --font-body-style: normal;
        --font-body-weight: 300;

        --font-heading-family: "gt_super_display", sans-serif;
        --font-heading-style: normal;
        --font-heading-weight: 400;

        --font-body-scale: {{ 100 | divided_by: 100.0 }}
        ;
        --font-heading-scale: {{ 100 | times: 1.0 | divided_by: 100.0 }}
        ;

        --color-primary: {{ settings.primary }}
        ;
        --color-primary-rgb: {{ settings.primary | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;
        --color-secondary: {{ settings.secondary }}
        ;
        --color-secondary-rgb: {{ settings.secondary | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;
        --color-neutral: {{ settings.neutral }}
        ;
        --color-neutral-rgb: {{ settings.neutral | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;
        --color-light: {{ settings.light }}
        ;
        --color-light-rgb: {{ settings.light | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;
        --color-top_bar: {{ settings.top_bar }}
        ;
        --color-top_bar-rgb: {{ settings.top_bar | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;
        --color-main_nav: {{ settings.main_nav }}
        ;
        --color-main_nav-rgb: {{ settings.main_nav | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;
        --color-link_highlight: {{ settings.highlight_color }}
        ;
        --color-link_highlight-rgb: {{ settings.highlight_color | color_to_rgb | remove: 'rgb(' | remove: ')' }}
        ;


        --page-width: 120rem;
      }

      *,
      *::before,
      *::after {
        box-sizing: border-box;
      }

      html {
        box-sizing: border-box;
        font-size: 62.5%;
        height: 100%;
      }

      body {
        display: grid;
        grid-template-rows: auto auto 1fr auto;
        grid-template-columns: 100%;
        min-height: 100%;
        margin: 0;
        color: var(--color-primary);
        font-size: 1.6rem;
        letter-spacing: 0.06rem;
        line-height: 1.8;
        font-family: var(--font-body-family);
        font-style: var(--font-body-style);
        font-weight: var(--font-body-weight);
      }

      @media screen and (min-width: 768px) {
        body {
          font-size: 1.8rem;
        }
      }
    {% endstyle %}

    <!-- Preload Assets -->
    {% if request.page_type == "index" %}
      <link
        rel="preload"
        href="{{ 'swiper.css' | asset_url }}"
        as="style">
    {% endif %}

    <link
      rel="preload"
      href="{{ 'base.css' | asset_url }}"
      as="style">

    {% if request.page_type == "index" or request.page_type == "product" %}
      {{ 'swiper.css' | asset_url | stylesheet_tag }}
    {% endif %}

    {{ 'base.css' | asset_url | stylesheet_tag }}

  </head>
  <body id="{{ request.page_type }}" class="{{ handle }}">
    <a class="skip-to-content-link button visually-hidden" href="#MainContent">
      Skip to content
    </a>

    {% section 'header' %}

    <main
      id="MainContent"
      class="content-for-layout focus-none"
      role="main"
      tabindex="-1">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}

    <ul hidden>
      <li id="a11y-refresh-page-message">Choosing a selection results in a full page refresh.</li>
    </ul>

    <script>
      var _ctct_m = "2a05b2d4b577a26f76824e6a99af14f5";
    </script>
    <script
      id="signupScript"
      src="//static.ctctcdn.com/js/signup-form-widget/current/signup-form-widget.min.js"
      async
      defer></script>
  </body>
</html>