{{ 'section-footer.css' | asset_url | stylesheet_tag }}

<div class="container">
    <!-- Start Footer Content Top -->
    <div class="row footer__content-top pb-5">
    
        <div class="col-lg-3 col-sm-6">
            <div class="footer-menu  mb-5 mb-lg-0">
                {% if section.settings.customer_service != blank %}
                    <h4>{{ section.settings.customer_service.title }}</h4>
                    <ul class="list-unstyled">
                        {%- for link in section.settings.customer_service.links -%}
                            <li>
                                <a href="{{ link.url }}" class="link link--text">
                                    {{ link.title }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {% endif %}

                <!-- Start Desktop Social Media Links -->
                <div class="social-links d-none d-lg-block">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <span class="visually-hidden">Facebook</span>
                            <a href="{{ settings.social_facebook_link }}" class="link link--text" target="_blank">
                                {% render 'svg-icon-facebook' %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span class="visually-hidden">Pinterest</span>
                            <a href="{{ settings.social_pinterest_link }}" class="link link--text" target="_blank">
                                {% render 'svg-icon-pinterest' %}
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <span class="visually-hidden">Instagram</span>
                            <a href="{{ settings.social_instagram_link }}" class="link link--text" target="_blank">
                                {% render 'svg-icon-instagram' %}
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- End Desktop Social Media Links -->
            </div>
        </div><!-- end .footer-menu -->

        <div class="col-lg-3 col-sm-6">
            <div class="footer-menu  mb-5 mb-lg-0">
                {% if section.settings.useful_info != blank %}
                    <h4>{{ section.settings.useful_info.title }}</h4>
                    <ul class="list-unstyled">
                        {%- for link in section.settings.useful_info.links -%}
                            <li>
                                <a href="{{ link.url }}" class="link link--text">
                                    {{ link.title }}
                                </a>
                            </li>
                        {%- endfor -%}
                    </ul>
                {% endif %}
            </div>
        </div><!-- end .footer-menu -->

        <div class="col-lg-5 col-12">
            <div class="newsletter__wrapper">
                <h4>{{ section.settings.newsletter_title }}</h4>
                <p class="text-primary">{{ section.settings.newsletter_desc }}</p>

                <div class="ctct-inline-form" data-form-id="32853c73-a54e-44f2-9f90-6575f66f19f6"></div>

                {% comment %}
                <!-- Start Newsletter Form -->
                {% form 'customer', class: 'newsletter-form' %}
                    <input type="hidden" name="contact[tags]" value="newsletter">
                    <div class="newsletter-form__field-wrapper">
                    <div class="field">
                        <input
                        id="NewsletterForm--{{ section.id }}"
                        type="email"
                        name="contact[email]"
                        class="field__input"
                        value="{{ form.email }}"
                        aria-required="true"
                        autocorrect="off"
                        autocapitalize="off"
                        autocomplete="email"
                        {% if form.errors %}
                            autofocus
                            aria-invalid="true"
                            aria-describedby="Newsletter-error--{{ section.id }}"
                        {% elsif form.posted_successfully? %}
                            aria-describedby="Newsletter-success--{{ section.id }}"
                        {% endif %}
                        placeholder="Your Email Address"
                        required
                        >
                        <label class="field__label" for="NewsletterForm--{{ section.id }}">
                            Your Email Address 
                        </label>
                        <button type="submit" class="newsletter-form__button button" name="commit" id="Subscribe" aria-label="Subscribe">
                            Subscribe
                        </button>
                    </div>
                    {%- if form.errors -%}
                        <small class="newsletter-form__message form__message" id="Newsletter-error--{{ section.id }}">{% render 'svg-icon-error' %}{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</small>
                    {%- endif -%}
                    </div>
                    {%- if form.posted_successfully? -%}
                    <h3 class="newsletter-form__message newsletter-form__message--success form__message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{% render 'svg-icon-success' %} Thank you for subscribing.</h3>
                    {%- endif -%}
                {% endform %}
                <!-- End Newsletter Form -->
                {% endcomment %}
            </div>
        </div><!-- end .newsletter -->

    </div>
    <!-- End Footer Content Top -->

    <!-- Start Footer Copyright -->
    <div class="row footer__content-bottom">
        <!-- Start Mobile Social Media Links -->
        <div class="social-links d-flex d-lg-none justify-content-center">
            <ul class="list-inline">
                <li class="list-inline-item">
                    <span class="visually-hidden">Facebook</span>
                    <a href="{{ settings.social_facebook_link }}" class="link link--text" target="_blank">
                        {% render 'svg-icon-facebook' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <span class="visually-hidden">Pinterest</span>
                    <a href="{{ settings.social_pinterest_link }}" class="link link--text" target="_blank">
                        {% render 'svg-icon-pinterest' %}
                    </a>
                </li>
                <li class="list-inline-item">
                    <span class="visually-hidden">Instagram</span>
                    <a href="{{ settings.social_instagram_link }}" class="link link--text" target="_blank">
                        {% render 'svg-icon-instagram' %}
                    </a>
                </li>
            </ul>
        </div>
        <!-- End Desktop Mobile Media Links -->

        <p class="m-0">&copy; {{ "now" | date: "%Y" }} {{ shop.name }}</p>
    </div>
    <!-- End Footer Copyright -->
</div>

{% schema %}
{
    "name": "Footer",
    "tag": "footer",
    "class": "footer",
    "settings": [
        {
            "type": "header",
            "content": "Newsletter"
        },
        {
            "type": "text",
            "id": "newsletter_title",
            "label": "Newsletter Title",
            "default": "Subscribe to our newsletter"
        },
        {
            "type": "textarea",
            "id": "newsletter_desc",
            "label": "Newsletter Description",
            "default": "To know more about Karee Hays Esthetics events, new products, and special promotions join our mailing list."
        },
        {
            "type": "header",
            "content": "Footer Menus"
        },
        {
            "type": "link_list",
            "id": "customer_service", 
            "label": "Customer Service Menu",
            "default": "footer"
        },
        {
            "type": "link_list",
            "id": "useful_info",
            "label": "Useful Information Menu"
        }
    ]
}
{% endschema %}