<link rel="stylesheet" href="{{ 'section-header.css' | asset_url }}" media="all">
<link rel="stylesheet" href="{{ 'component-menu-drawer.css' | asset_url }}" media="all">

{% unless request.page_type == 'cart' %}
    <link rel="stylesheet" href="{{ 'component-cart-notification.css' | asset_url }}" media="all">
    <link rel="stylesheet" href="{{ 'component-cart-notification-items.css' | asset_url }}" media="all">
{% endunless %}

<noscript>{{ 'section-header.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'component-menu-drawer.css' | asset_url | stylesheet_tag }}</noscript>

{% unless request.page_type == 'cart' %}
    <noscript>{{ 'component-cart-notification.css' | asset_url | stylesheet_tag }}</noscript>
    <noscript>{{ 'component-cart-notification-items.css' | asset_url | stylesheet_tag }}</noscript>
{% endunless %}


<script src="{{ 'component-menu-drawer.js' | asset_url }}" defer="defer"></script>

{% unless request.page_type == 'cart' %}
    <script src="{{ 'cart-notification.js' | asset_url }}" defer="defer"></script>
{% endunless %}

<!-- Start Top Header -->
<div class="container-fluid">
    <div class="top-header">
        <button class="mobile__menu-toggler button-reset d-block d-lg-none" type="button" data-behaviour="toggle-mobile-menu"  aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span></span>
        </button>
        <div class="region d-none">
            <p>{{ section.settings.region }}</p>
        </div>
        <h1 class="header__heading">
            <a href="{{ routes.root_url }}" class="header__heading-link link link--text focus-inset">
                {%- assign image_size = '100x' -%}
                <img srcset="{{ settings.logo | img_url: image_size }} 1x, {{ settings.logo | img_url: image_size, scale: 2 }} 2x"
                src="{{ settings.logo | img_url: image_size }}"
                loading="lazy"
                class="header__heading-logo"
                width="{{ settings.logo.width }}"
                height="{{ settings.logo.height }}"
                alt="{{ shop.name }}"
                >
            </a>
        </h1>
        <ul class="icons list-unstyled">
            <li>
                <button type="button" class="button-reset header__icon header__icon--search" aria-haspopup="dialog" aria-label="Search" data-search-button>
                    {% render 'svg-icon-search' %}
                </button>
            </li>
            <li class="d-none d-lg-block">
                <a href="{{ routes.account_login_url }}" class="header__icon header__icon--account link link--text focus-inset">
                    {% render 'svg-icon-account' %}
                </a>
            </li>
            <li>
                <a href="{{ routes.cart_url }}" class="header__icon header__icon--cart link link--text focus-inset">
                    {% render 'svg-icon-cart' %}
                    {% unless cart.item_count == blank %}
                        <span class="cart-count" data-cart-counter>{{ cart.item_count }}</span>
                    {% endunless %}
                </a>
            </li>
        </ul>
    </div>
</div>
<!-- End Top Header -->

<!-- Start Main Nav -->
{%- if section.settings.menu != blank -%}
    <nav class="header__inline-menu">
        <ul class="list-menu list-menu--inline" role="list">
            {%- for link in section.settings.menu.links -%}
                {% liquid
                    assign dropdown = false
                    assign handle = link.title | handleize | escape
                    assign mm1_handle = section.settings.mm1_parent | handleize | escape
                    assign mm2_handle = section.settings.mm2_parent | handleize | escape
                    assign mm3_handle = section.settings.mm3_parent | handleize | escape
                    assign mm4_handle = section.settings.mm4_parent | handleize | escape
                    assign mm5_handle = section.settings.mm5_parent | handleize | escape
                    assign link_parts = link.title | split: '#'
                %}

                {% case handle %}
                    {% when mm1_handle %}
                        {% assign dropdown = true %}
                    {% when mm2_handle %}
                        {% assign dropdown = true %}
                    {% when mm3_handle %}
                        {% assign dropdown = true %}
                    {% when mm4_handle %}
                        {% assign dropdown = true %}
                    {% when mm5_handle %}
                        {% assign dropdown = true %}
                {% endcase %}

                <li {% if dropdown %}class="mm-dropdown"{% endif %}>
                    <a href="{{ link.url }}" class="header__menu-item header__menu-item list-menu__item link link--text focus-inset {% if link_parts.size > 1 %} custom-color {% endif %}"{% if link.current %} aria-current="page"{% endif %}>
                        <span {%- if link.current %} class="header__active-menu-item"{% endif %}>
                            {{ link_parts[0] }}
                        </span>
                    </a>

                    <!-- Start Mega Menu -->
                    {% if section.blocks.size > 0 %}
                    <div class="mega-menu">
                        <div class="container">
                            <div class="row">
                            <div class="col-12">
                            <div class="row">
                            {% for block in section.blocks %}
                                {% liquid
                                    assign mm_width = block.settings.ddm_width
                                    assign menu = block.settings.ddmenu
                                    assign banner_title = block.settings.banner_title
                                    assign banner_img = block.settings.banner
                                    assign banner_width = block.settings.banner_width
                                    assign col_title = block.settings.col_title
                                    assign col_sel = block.settings.col_select
                                    assign col_width = block.settings.col_width
                                    assign text_title = block.settings.title
                                    assign text_desc = block.settings.description
                                    assign text_link = block.settings.link
                                    assign text_btn = block.settings.btn_text
                                    assign text_width = block.settings.text_width
                                %}
                                {% if block.type == 'megamenu1' and handle == mm1_handle %}

                                    <!-- Start Menu -->
                                    {% if menu != blank %}
                                        <div class="col-lg-{{ mm_width }}">
                                            <h2>{{ menu.title }}</h2>
                                            <ul class="list-unstyled header__megamenu-col">
                                                {%- for link in menu.links -%}
                                                    <li>
                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                        </a>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <!-- End Menu -->

                                {% elsif block.type == 'megamenu2' and handle == mm2_handle %}

                                    <!-- Start Menu -->
                                    {% if menu != blank %}
                                        <div class="col-lg-{{ mm_width }}">
                                            <h2>{{ menu.title }}</h2>
                                            <ul class="list-unstyled header__megamenu-col">
                                                {%- for link in menu.links -%}
                                                    <li>
                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                        </a>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <!-- End Menu -->

                                    <!-- Start Banner -->
                                    {% if banner_img != blank %}
                                        <div class="col-lg-{{ banner_width }} banner">
                                            {% if banner_title != blank %}
                                                <h2>{{ banner_title }}</h2>
                                            {% endif %}
                                            {% render 'object-image', path: banner_img %}
                                        </div>
                                    {% endif %}
                                    <!-- End Banner -->

                                {% elsif block.type == 'megamenu3' and handle == mm3_handle %}

                                    <!-- Start Menu -->
                                    {% if menu != blank %}
                                        <div class="col-lg-{{ mm_width }}">
                                            <h2>{{ menu.title }}</h2>
                                            <ul class="list-unstyled header__megamenu-col">
                                                {%- for link in menu.links -%}
                                                    <li>
                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                        </a>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <!-- End Menu -->

                                    <!-- Start Banner -->
                                    {% if banner_img != blank %}
                                        <div class="col-lg-{{ banner_width }} banner">
                                            {% if banner_title != blank %}
                                                <h2>{{ banner_title }}</h2>
                                            {% endif %}
                                            {% render 'object-image', path: banner_img %}
                                        </div>
                                    {% endif %}
                                    <!-- End Banner -->

                                    <!-- Start Text -->
                                    {% if text_title != blank %}
                                        <div class="col-lg-{{ text_width }} text">
                                            {% if text_title != blank %}
                                                <h2>{{ text_title }}</h2>
                                                <p>{{ text_desc }}</p>
                                                <a href="{{ text_link }}" alt="{{ text_title }}" class="link--text uppercase button-reset">
                                                    {{ text_btn }}
                                                </a>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <!-- End Text -->

                                {% elsif block.type == 'megamenu4' and handle == mm4_handle %}

                                    <!-- Start Menu -->
                                    {% if menu != blank %}
                                        <div class="col-lg-{{ mm_width }}">
                                            <h2>{{ menu.title }}</h2>
                                            <ul class="list-unstyled header__megamenu-col">
                                                {%- for link in menu.links -%}
                                                    <li>
                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                        </a>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <!-- End Menu -->

                                    <!-- Start Banner -->
                                    {% if banner_img != blank %}
                                        <div class="col-lg-{{ banner_width }} banner">
                                            {% if banner_title != blank %}
                                                <h2>{{ banner_title }}</h2>
                                            {% endif %}
                                            {% render 'object-image', path: banner_img %}
                                        </div>
                                    {% endif %}
                                    <!-- End Banner -->

                                    <!-- Start Collection -->
                                    {% if col_sel != blank %}
                                        <div class="col-lg-{{ col_width }} collection">
                                            {% if col_title != blank %}
                                                <h2>{{ col_title }}</h2>
                                            {% endif %}

                                            {% if col_sel.products.size != 0 %}
                                                <div class="col-grid">
                                                    {% for product in col_sel.products limit: 4 %}
                                                        {% liquid
                                                            assign img_url = product.featured_image.src
                                                            assign prod_url = product.url
                                                            assign prod_title = product.title
                                                        %}
                                                        <a href="{{ prod_url }}" alt="{{ prod_title }}" class="button-reset">
                                                            {% render 'object-image', path: img_url, alt: prod_title %}
                                                        </a>
                                                    {% endfor %}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                    <!-- End Collection -->

                                {% elsif block.type == 'megamenu5' and handle == mm5_handle %}

                                    <!-- Start Menu -->
                                    {% if menu != blank %}
                                        <div class="col-lg-{{ mm_width }}">
                                            <h2>{{ menu.title }}</h2>
                                            <ul class="list-unstyled header__megamenu-col">
                                                {%- for link in menu.links -%}
                                                    <li>
                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                        </a>
                                                    </li>
                                                {%- endfor -%}
                                            </ul>
                                        </div>
                                    {% endif %}
                                    <!-- End Menu -->

                                    <!-- Start Banner -->
                                    {% if banner_img != blank %}
                                        <div class="col-lg-{{ banner_width }} banner">
                                            {% if banner_title != blank %}
                                                <h2>{{ banner_title }}</h2>
                                            {% endif %}
                                            {% render 'object-image', path: banner_img %}
                                        </div>
                                    {% endif %}
                                    <!-- End Banner -->

                                {% endif %}
                            {% endfor %}
                            </div>
                            </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <!-- End Mega Menu -->

                </li>
            {%- endfor -%}
        </ul>
    </nav>
{%- endif -%}
<!-- End Main Nav -->

<!-- Start Mobile Menu -->
<div id="menu-drawer" class="menu-drawer d-block d-lg-none" tabindex="-1">
    <div class="menu-drawer__inner-container">
        <div class="menu-drawer__navigation-container">
            <nav class="menu-drawer__navigation">
                <ul class="menu-drawer__menu list-unstyled" role="list">
                    {%- for link in section.settings.menu.links -%}
                        {% liquid
                            assign dropdown = false
                            assign handle = link.title | handleize | escape
                            assign mm1_handle = section.settings.mm1_parent | handleize | escape
                            assign mm2_handle = section.settings.mm2_parent | handleize | escape
                            assign mm3_handle = section.settings.mm3_parent | handleize | escape
                            assign mm4_handle = section.settings.mm4_parent | handleize | escape
                            assign mm5_handle = section.settings.mm5_parent | handleize | escape
                        %}

                        {% case handle %}
                            {% when mm1_handle %}
                                {% assign dropdown = true %}
                            {% when mm2_handle %}
                                {% assign dropdown = true %}
                            {% when mm3_handle %}
                                {% assign dropdown = true %}
                            {% when mm4_handle %}
                                {% assign dropdown = true %}
                            {% when mm5_handle %}
                                {% assign dropdown = true %}
                        {% endcase %}

                        <li>
                            {% if dropdown %}

                                <button type="button" class="menu-drawer__menu-item button-reset menu-accordion">
                                    {{ link.title | escape }}
                                    {% if dropdown %}
                                        {% render 'svg-icon-chevron-right' %}
                                    {% endif %}
                                </button>
                                <div class="panel">
                                    <div class="row">
                                        {% for block in section.blocks %}
                                            {% liquid
                                                assign mm_width = block.settings.ddm_width
                                                assign menu = block.settings.ddmenu
                                                assign banner_title = block.settings.banner_title
                                                assign banner_img = block.settings.banner
                                                assign banner_width = block.settings.banner_width
                                                assign col_title = block.settings.col_title
                                                assign col_sel = block.settings.col_select
                                                assign col_width = block.settings.col_width
                                                assign text_title = block.settings.title
                                                assign text_desc = block.settings.description
                                                assign text_link = block.settings.link
                                                assign text_btn = block.settings.btn_text
                                                assign text_width = block.settings.text_width
                                            %}

                                            {% if block.type == 'megamenu1' and handle == mm1_handle %}
                                                <!-- Start Menu -->
                                                {% if menu != blank %}

                                                    <div class="col-lg-{{ mm_width }} inner-grid">

                                                        <button type="button" class="menu-drawer__menu-item button-reset inner-menu-accordion">
                                                            {{ menu.title }}
                                                            {% if dropdown %}
                                                                {% render 'svg-icon-plus' %}
                                                                {% render 'svg-icon-minus' %}
                                                            {% endif %}
                                                        </button>

                                                        <div class="inner-panel">
                                                            <ul class="list-unstyled header__megamenu-col">
                                                                {%- for link in menu.links -%}
                                                                    <li>
                                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                                        </a>
                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        </div>

                                                    </div>

                                                {% endif %}
                                                <!-- End Menu -->
                                            {% elsif block.type == 'megamenu2' and handle == mm2_handle %}
                                                <!-- Start Menu -->
                                                {% if menu != blank %}

                                                    <div class="col-lg-{{ mm_width }} inner-grid">

                                                        <button type="button" class="menu-drawer__menu-item button-reset inner-menu-accordion">
                                                            {{ menu.title }}
                                                            {% if dropdown %}
                                                                {% render 'svg-icon-plus' %}
                                                                {% render 'svg-icon-minus' %}
                                                            {% endif %}
                                                        </button>

                                                        <div class="inner-panel">
                                                            <ul class="list-unstyled header__megamenu-col">
                                                                {%- for link in menu.links -%}
                                                                    <li>
                                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                                        </a>
                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        </div>

                                                    </div>

                                                {% endif %}
                                                <!-- End Menu -->

                                            {% elsif block.type == 'megamenu3' and handle == mm3_handle %}
                                                <!-- Start Menu -->
                                                {% if menu != blank %}

                                                    <div class="col-lg-{{ mm_width }} inner-grid">

                                                        <button type="button" class="menu-drawer__menu-item button-reset inner-menu-accordion">
                                                            {{ menu.title | escape }}
                                                            {% if dropdown %}
                                                                {% render 'svg-icon-plus' %}
                                                                {% render 'svg-icon-minus' %}
                                                            {% endif %}
                                                        </button>

                                                        <div class="inner-panel">
                                                            <ul class="list-unstyled header__megamenu-col">
                                                                {%- for link in menu.links -%}
                                                                    <li>
                                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                                        </a>
                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        </div>

                                                    </div>

                                                {% endif %}
                                                <!-- End Menu -->

                                            {% elsif block.type == 'megamenu4' and handle == mm4_handle %}
                                                <!-- Start Menu -->
                                                {% if menu != blank %}

                                                    <div class="col-lg-{{ mm_width }} inner-grid">

                                                        <button type="button" class="menu-drawer__menu-item button-reset inner-menu-accordion">
                                                            {{ menu.title }}
                                                            {% if dropdown %}
                                                                {% render 'svg-icon-plus' %}
                                                                {% render 'svg-icon-minus' %}
                                                            {% endif %}
                                                        </button>

                                                        <div class="inner-panel">
                                                            <ul class="list-unstyled header__megamenu-col">
                                                                {%- for link in menu.links -%}
                                                                    <li>
                                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                                        </a>
                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        </div>

                                                    </div>

                                                {% endif %}
                                                <!-- End Menu -->

                                            {% elsif block.type == 'megamenu5' and handle == mm5_handle %}

                                                <!-- Start Menu -->
                                                {% if menu != blank %}

                                                    <div class="col-lg-{{ mm_width }} inner-grid">

                                                        <button type="button" class="menu-drawer__menu-item button-reset inner-menu-accordion">
                                                            {{ menu.title }}
                                                            {% if dropdown %}
                                                                {% render 'svg-icon-plus' %}
                                                                {% render 'svg-icon-minus' %}
                                                            {% endif %}
                                                        </button>

                                                        <div class="inner-panel">
                                                            <ul class="list-unstyled header__megamenu-col">
                                                                {%- for link in menu.links -%}
                                                                    <li>
                                                                        <a href="{{ link.url }}" class=""{% if link.current %} aria-current="page"{% endif %}>
                                                                            <span {%- if link.current %} class="header__active-menu-item"{% endif %}>{{ link.title | escape }}</span>
                                                                        </a>
                                                                    </li>
                                                                {%- endfor -%}
                                                            </ul>
                                                        </div>

                                                    </div>

                                                {% endif %}
                                                <!-- End Menu -->

                                            {% endif %}

                                        {% endfor %}
                                    </div>
                                </div>

                            {% else %}

                                <a href="{{ link.url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset"{% if link.current %} aria-current="page"{% endif %}>
                                    <span {%- if link.current %} class="menu-drawer__menu-item--active"{% endif %}>{{ link.title | escape }}</span>
                                </a>

                            {% endif %}

                        </li>
                    {%- endfor -%}
                </ul>
            </nav>
        </div>
        <hr />
        <div class="menu-drawer__footer">
            <a href="#" class="menu-drawer__menu-item list-menu__item link link--text focus-inset d-none">
                {{ section.settings.region }}
            </a>
            <a href="{{ routes.account_login_url }}" class="menu-drawer__menu-item list-menu__item link link--text focus-inset">
                SIGN IN or REGISTER
            </a>

            <div class="social-talk">
                <ul class="list-inline">
                    <li class="list-inline-item">
                        <span class="visually-hidden">Facebook</span>
                        <a href="{{ settings.social_facebook_link }}" class="link link--text" target="_blank">
                            {% render 'svg-icon-facebook' %}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <span class="visually-hidden">Pinterest</span>
                        <a href="{{ settings.social_pinterest_link }}" class="link link--text" target="_blank">
                            {% render 'svg-icon-pinterest' %}
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <span class="visually-hidden">Instagram</span>
                        <a href="{{ settings.social_instagram_link }}" class="link link--text" target="_blank">
                            {% render 'svg-icon-instagram' %}
                        </a>
                    </li>
                </ul>
                <a href="#0" class="menu-drawer__menu-item list-menu__item link link--text focus-inset mm-talk" >
                    {% render 'svg-icon-talk' %}
                </a>
            </div>
        </div>
    </div>
</div>
<!-- End Mobile Menu -->

<!-- Start Cart Notification -->
{% unless request.page_type == 'cart' %}
    {% render 'cart-notification' %}
{% endunless %}
<!-- End Cart Notification -->

<!-- Start Search Bar -->
{% render 'search-bar' %}
<!-- End Search Bar -->

{% schema %}
{
    "name": "Header",
    "tag": "header",
    "class": "main-header",
    "settings": [
        {
            "type": "text",
            "id": "region",
            "label": "Region",
            "default": "UNITED STATES / CANADA"
        },
        {
            "type": "link_list",
            "id": "menu",
            "label": "Main Menu",
            "default": "main-menu"
        },
        {
            "type": "text",
            "id": "mm1_parent",
            "label": "Mega Menu 1 Link title",
            "info": "The mega menu 1 will appear below this parent link"
        },
        {
            "type": "text",
            "id": "mm2_parent",
            "label": "Mega Menu 2 Link title",
            "info": "The mega menu 2 will appear below this parent link"
        },
        {
            "type": "text",
            "id": "mm3_parent",
            "label": "Mega Menu 3 Link title",
            "info": "The mega menu 3 will appear below this parent link"
        },
        {
            "type": "text",
            "id": "mm4_parent",
            "label": "Mega Menu 4 Link title",
            "info": "The mega menu 4 will appear below this parent link"
        },
        {
            "type": "text",
            "id": "mm5_parent",
            "label": "Mega Menu 5 Link title",
            "info": "The mega menu 5 will appear below this parent link"
        }
    ],
    "blocks": [
        {
            "name": "Mega Menu 1 Columns",
            "type": "megamenu1",
            "limit": 4,
            "settings": [
                {
                    "type": "header",
                    "content": "Mega Menu Content Types"
                },
                {
                    "type": "link_list",
                    "id": "ddmenu",
                    "label": "Drop Down Menu"
                },
                {
                    "type": "range",
                    "id": "ddm_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Collection"
                },
                {
                    "type": "text",
                    "id": "col_title",
                    "label": "Collection Title"
                },
                {
                    "type": "collection",
                    "id": "col_select",
                    "label": "Select Collection"
                },
                {
                    "type": "range",
                    "id": "col_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Banner"
                },
                {
                    "type": "text",
                    "id": "banner_title",
                    "label": "Banner Title"
                },
                {
                    "type": "image_picker",
                    "id": "banner",
                    "label": "Banner"
                },
                {
                    "type": "range",
                    "id": "banner_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text",
                    "default": "Read More"
                },
                {
                    "type": "range",
                    "id": "text_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                }
            ]
        },
        {
            "name": "Mega Menu 2 Columns",
            "type": "megamenu2",
            "limit": 3,
            "settings": [
                {
                    "type": "header",
                    "content": "Mega Menu Content Types"
                },
                {
                    "type": "link_list",
                    "id": "ddmenu",
                    "label": "Drop Down Menu"
                },
                {
                    "type": "range",
                    "id": "ddm_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Collection"
                },
                {
                    "type": "text",
                    "id": "col_title",
                    "label": "Collection Title"
                },
                {
                    "type": "collection",
                    "id": "col_select",
                    "label": "Select Collection"
                },
                {
                    "type": "range",
                    "id": "col_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Banner"
                },
                {
                    "type": "text",
                    "id": "banner_title",
                    "label": "Banner Title"
                },
                {
                    "type": "image_picker",
                    "id": "banner",
                    "label": "Banner"
                },
                {
                    "type": "range",
                    "id": "banner_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text",
                    "default": "Read More"
                },
                {
                    "type": "range",
                    "id": "text_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                }
            ]
        },
        {
            "name": "Mega Menu 3 Columns",
            "type": "megamenu3",
            "limit": 3,
            "settings": [
                {
                    "type": "header",
                    "content": "Mega Menu Content Types"
                },
                {
                    "type": "link_list",
                    "id": "ddmenu",
                    "label": "Drop Down Menu"
                },
                {
                    "type": "range",
                    "id": "ddm_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Collection"
                },
                {
                    "type": "text",
                    "id": "col_title",
                    "label": "Collection Title"
                },
                {
                    "type": "collection",
                    "id": "col_select",
                    "label": "Select Collection"
                },
                {
                    "type": "range",
                    "id": "col_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Banner"
                },
                {
                    "type": "text",
                    "id": "banner_title",
                    "label": "Banner Title"
                },
                {
                    "type": "image_picker",
                    "id": "banner",
                    "label": "Banner"
                },
                {
                    "type": "range",
                    "id": "banner_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text",
                    "default": "Read More"
                },
                {
                    "type": "range",
                    "id": "text_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                }
            ]
        },
        {
            "name": "Mega Menu 4 Columns",
            "type": "megamenu4",
            "limit": 3,
            "settings": [
                {
                    "type": "header",
                    "content": "Mega Menu Content Types"
                },
                {
                    "type": "link_list",
                    "id": "ddmenu",
                    "label": "Drop Down Menu"
                },
                {
                    "type": "range",
                    "id": "ddm_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Collection"
                },
                {
                    "type": "text",
                    "id": "col_title",
                    "label": "Collection Title"
                },
                {
                    "type": "collection",
                    "id": "col_select",
                    "label": "Select Collection"
                },
                {
                    "type": "range",
                    "id": "col_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Banner"
                },
                {
                    "type": "text",
                    "id": "banner_title",
                    "label": "Banner Title"
                },
                {
                    "type": "image_picker",
                    "id": "banner",
                    "label": "Banner"
                },
                {
                    "type": "range",
                    "id": "banner_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text",
                    "default": "Read More"
                },
                {
                    "type": "range",
                    "id": "text_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                }
            ]
        },
        {
            "name": "Mega Menu 5 Columns",
            "type": "megamenu5",
            "limit": 2,
            "settings": [
                {
                    "type": "header",
                    "content": "Mega Menu Content Types"
                },
                {
                    "type": "link_list",
                    "id": "ddmenu",
                    "label": "Drop Down Menu"
                },
                {
                    "type": "range",
                    "id": "ddm_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Collection"
                },
                {
                    "type": "text",
                    "id": "col_title",
                    "label": "Collection Title"
                },
                {
                    "type": "collection",
                    "id": "col_select",
                    "label": "Select Collection"
                },
                {
                    "type": "range",
                    "id": "col_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Banner"
                },
                {
                    "type": "text",
                    "id": "banner_title",
                    "label": "Banner Title"
                },
                {
                    "type": "image_picker",
                    "id": "banner",
                    "label": "Banner"
                },
                {
                    "type": "range",
                    "id": "banner_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                },
                {
                    "type": "header",
                    "content": "Mega Menu Text"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "textarea",
                    "id": "description",
                    "label": "Description"
                },
                {
                    "type": "url",
                    "id": "link",
                    "label": "Link"
                },
                {
                    "type": "text",
                    "id": "btn_text",
                    "label": "Button Text",
                    "default": "Read More"
                },
                {
                    "type": "range",
                    "id": "text_width",
                    "min": 1,
                    "max": 12,
                    "step": 1,
                    "default": 3,
                    "label": "Width",
                    "info": "The mega menu is composed of a 12 column grid. The number chosen here is the width of this column"
                }
            ]
        }
    ]
}
{% endschema %}
