{{ 'section-home-treatment.css' | asset_url | stylesheet_tag }}

<div class="container">
    <!-- Start Heading Section -->
    <div class="row justify-content-center">
        <div class="col-lg-7 col-md-10 center">
            <h1 class="h3 uppercase mt-0">{{ section.settings.sub_title }}</h1>
            <h2 class="h2 uppercase mt-0">{{ section.settings.title }}</h2>
            <p class="mt-0 mb-5">{{ section.settings.description }}</p>
        </div>
    </div>
    <!-- End Heading Section -->

    <!-- Start Treatment Section -->
    {% if section.blocks.size > 0 %}
        <div class="treatment-areas row mt-5 mb-5">
            {% for block in section.blocks %}
                <div class="col-lg-3">
                    <a href="{{ block.settings.page_link | default: '#' }}" class="full-unstyled-link">
                        {% render 'object-image', path: block.settings.treatment_img, alt: block.settings.title %}
                        <h3>{{ block.settings.title }}</h3>
                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
    <!-- End Treatment Section -->
</div>

{% schema %}
{
    "name": "Treatment",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
        {
            "type": "text",
            "id": "sub_title",
            "label": "Sub Title",
            "default": "Our Clinic"
        },
        {
            "type": "text",
            "id": "title",
            "label": "Title",
            "default": "What We Treat"
        },
        {
            "type": "textarea",
            "id": "description",
            "label": "Description"
        }
    ],
    "blocks": [
        {
            "name": "Treatment",
            "type": "treatment",
            "settings": [
                {
                    "type": "text",
                    "id": "title",
                    "label": "Title"
                },
                {
                    "type": "image_picker",
                    "id": "treatment_img",
                    "label": "Image"
                },
                {
                    "type": "url",
                    "id": "page_link",
                    "label": "Page Link"
                }
            ]
        }
    ],
    "presets": [
      {
      "name": "Treatment",
      "category": "Images"
      }
    ]
}
{% endschema %}
