{{ 'section-blog-post.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

{% render 'blog-heading' %}

<article class="article-template" itemscope itemtype="http://schema.org/BlogPosting">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <p class="article-tags">
                    <a href="{{ blog.url }}/tagged/{{ article.tags[0] | handleize }}" class="full-unstyled-link">
                        {{ article.tags[0] }}
                    </a>
                </p>

                {%- if article.image -%}
                    <div class="article-template__hero-container">
                        {% render 'object-image', path: article.image, alt: article.title %}
                    </div><!-- end article-template__hero-container-->
                {%- endif -%}

                <header class="center">
                    <h1 class="h2 uppercase">{{ article.title }}</h1>
                    <h2 class="h4 d-block" itemprop="name">Karee Hays<br>{{ article.published_at | time_tag: format: 'date' }}</h2>
                    {% if section.settings.social_share %}
                    {% render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image %}
                    {% endif %}
                </header>

                <div class="rte">
                    {{ article.content }}
                </div>
            </div>
        </div>
    </div>
</article>

{% schema %}
{
    "name": "Blog Post",
    "tag": "section",
    "settings": [
        {
            "type": "checkbox",
            "id": "social_share",
            "label": "Enable Social Share",
            "default": true
        }
    ]
}
{% endschema %}
