{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

{% if section.settings.filtering %}
    {{ 'component-filters.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'component-filters.js' | asset_url }}" defer="defer"></script>
{% endif %}

<div class="container">
    {%- paginate collections['Facial Page'].products by 8 -%}
        {%- if collection.products.size == 0 -%}
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="empty-collection">   
                        <h1 class="h2">No products found!</h1>
                    </div>
                </div>
                {% render 'pagination', paginate: paginate, anchor: '' %}
            </div>
        {%- else -%}
            <div class="row">

                {% if section.settings.filtering %}
                    <!-- Start Desktop Filtering Column -->
                    <aside class="col-lg-3 d-none d-lg-block">
                        {% render 'filters' %}
                    </aside>
                    <!-- End Desktop Filtering Column -->

                    <!-- Start Mobile Filters -->
                    <div class="col-12 mobile-filters d-block d-lg-none">
                        <button type="button" class="mobile-filters-heading">
                            <span class="show-filter">Show Filters</span>
                            <span class="hide-filter">Hide Filters</span>
                            {% render 'svg-icon-chevron-down' %}
                        </button>
                        <div class="mobile-filters-body">
                            {% render 'filters' %}
                        </div>
                    </div>
                    <!-- End Mobile Filters -->
                {% endif %}

                <!-- Start Products Section -->
                <div class="{% if section.settings.filtering %}col-lg-9{% else %} col-12 {% endif %}">
                    <div class="row" data-id="{{ section.id }}">
                        {%- for product in collection.products -%}
                            <div class="col-md-6 {% if section.settings.filtering %}col-lg-4{% else %} col-lg-3 {% endif %}">
                                {% render 'product-card', product_card_product: product  %}
                            </div>
                        {%- endfor -%}
                    </div>        
                </div>
                <!-- End Products Section -->

            </div><!-- end .row -->

            <!-- Start Pagination -->
            {%- if paginate.pages > 0 -%}
                {% render 'pagination', paginate: paginate, anchor: '' %}
            {%- endif -%}
            <!-- End Pagination -->
            
        {%- endif -%}
    {%- endpaginate -%}
</div>


{% schema %}
{
    "name": "Collection Settings",
    "tag": "section",
    "class": "product-grid",
    "settings": [
        {
            "type": "checkbox",
            "id": "filtering",
            "label": "Enable Filtering",
            "default": true
        }
    ]
}
{% endschema %}