{{ 'component-collection-hero.css' | asset_url | stylesheet_tag }}
{{ 'component-rte.css' | asset_url | stylesheet_tag }}

<div class="container">
    {% unless collection.image %}
      <div class="row relative">
        <h1 class="mb-0 p-5 col-12 {{ section.settings.alignment }}">
            <span class="visually-hidden">Collection: </span>
            {{ collection.title }}
        </h1>
      </div>
    {% endunless %}

    {% if collection.image %}
      <div class="row relative">
        <h1 class="my-0 p-5 col-12 {{ section.settings.alignment }}">
            <span class="visually-hidden">Collection: </span>
            {{ collection.title }}
        </h1>
      </div>
      <div class="row relative">
        {% render "object-image", path: collection.image %}
      </div>
    {% endif %}
</div>

{% schema %}
{
    "name": "Banner",
    "tag": "section",
    "class": "collection-banner",
    "settings": [
      {
        "type": "select",
        "id": "alignment",
        "label": "Title alignment",
        "options": [
          {
            "value": "left",
            "label": "Left"
          },
          {
            "value": "center",
            "label": "Center"
          },
          {
            "value": "right",
            "label": "Right"
          }
        ],
        "default": "center"
      }

    ]
}
{% endschema %}
