{{ 'template-collection.css' | asset_url | stylesheet_tag }}
{{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'component-article-card.css' | asset_url | stylesheet_tag }}
{{ 'component-price.css' | asset_url | stylesheet_tag }}

<link rel="stylesheet" href="{{ 'component-search.css' | asset_url }}" media="all">

<noscript>{{ 'component-search.css' | asset_url | stylesheet_tag }}</noscript>


{%- liquid
    assign sort_by = search.sort_by | default: search.default_sort_by
    assign terms = search.terms | escape
    assign search_url = '?q=' | append: terms | append: '&options%5Bprefix%5D=last&sort_by=' | append: sort_by
-%}

<div class="template-search spaced-section{% unless search.performed and search.results_count > 0 %} template-search--empty{% endunless %}">
    <div class="template-search__header container center">
        {%- if search.performed -%}
            <h1>Search results</h1>
        {%- else -%}
            <h1>Search</h1>
        {%- endif -%}

        <div class="template-search__search">
            <form action="{{ routes.search_url }}" method="get" role="search" class="search">
                <div class="field">
                    <input
                        class="search__input field__input"
                        id="Search-In-Template"
                        type="search"
                        name="q"
                        value="{{ search.terms | escape }}"
                        placeholder="Search"
                    >
                    <label class="field__label" for="Search-In-Template">Search</label>
                    <input name="options[prefix]" type="hidden" value="last">
                    <button type="submit" class="search__button field__button" aria-label="Search">
                        {% render 'svg-icon-search' %}
                    </button>
                </div>
            </form>
        </div><!-- end .template-search__search -->

        {%- if search.performed -%}
            {%- if search.results_count > 0 -%}
                <p role="status">
                    {% if search.results_count == 1 %}
                        {{ search.results_count }} result found for "{{ search.terms }}"
                    {% else %}
                        {{ search.results_count }} results found for "{{ search.terms }}"
                    {% endif %}
                </p>
            {%- endif -%}
            {%- if search.results_count == 0 and search.filters == empty -%}
                <p role="status">No results found for "{{ search.terms }}". Check the spelling or use a different word or phrase.</p>
            {%- endif -%}
        {%- endif -%}
    </div><!-- end .template-search__header -->

    <!-- Start Search Results -->
    {%- if search.performed -%}
        <div id="ProductGridContainer">
            {% paginate search.results by 8 %}
            <div class="template-search__results collection container" id="product-grid" data-id="{{ section.id }}">
                <div class="loading-overlay gradient"></div>
                
                <div class="search-results">
                    {%- for item in search.results -%}
                    <div class="search-results__item">
                        {%- case item.object_type -%}
                            {%- when 'product' -%}
                                {% render 'product-card', product_card_product: item  %}
                            {%- when 'article' -%}
                                {% render 'article-card', article: item %}
                            {%- when 'page' -%}
                            <a href="{{ item.url }}" class="page-wrapper">
                                <div class="page page--search page--soft page--text-only">
                                  <div class="page__inner">
                                    <div class="page__content">
                                        <h2 class="page__text h3">
                                            {{ item.title | truncate: 50 | escape }}
                                        </h2>
                                    </div>
                                    <div class="page__badge">
                                      <span class="badge">Page</span>
                                    </div>
                                  </div>
                                </div>
                            </a>
                        {%- endcase -%}
                    </div>
                    {%- endfor -%}
                </div>

                {%- if paginate.pages > 0 -%}
                    {% render 'pagination', paginate: paginate %}
                {%- endif -%}
            </div><!-- end .template-search__results -->
            {% endpaginate %}
        </div><!-- end #ProductGridContainer -->
    {%- endif -%}
    <!-- End Search Results -->

</div><!-- end .template-search -->