{{ 'component-main-services.css' | asset_url | stylesheet_tag }}

<div class="container">
  <div class="services-section-d row">
    {% if section.settings.img != blank %}
      <div class="services-section-d-left col-md-6 col-sm-12" style="background-size: cover; background-repeat: no-repeat; background-position: top; background-image: url({{ section.settings.img | img_url: 'master' }});">
        <span class="visually-hidden"></span>
      </div>
    {% endif %}
    <div class="services-section-d-right col-md-6 col-sm-12">
      <h3>{{ section.settings.title }}</h3>
      <p>{{ section.settings.description }}</p>
      <a class="button" href="{{ section.settings.buttonLink }}">{{ section.settings.buttonText }}</a>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Facials, Section D",
    "tag": "section",
    "class": "spaced-section",
    "settings": [
      {
        "type": "image_picker",
        "id": "img",
        "label": "Image"
      },
      {
        "type": "text",
        "id": "title",
        "label": "Title"
      },
      {
        "type": "textarea",
        "id": "description",
        "label": "Description"
      },
      {
        "type": "text",
        "id": "buttonLink",
        "label": "Button Link"
      }, {
        "type": "text",
        "id": "buttonText",
        "label": "Button Text"
      }
    ],
    "presets": [
      {
        "name": "Section D",
        "category": "Text and Image"
      }
    ]
  }
{% endschema %}
